@model Model_Zupree.ProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="form-group mb-3">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3 position-relative">
            @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "form-label" })

            @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "Select Category", new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "form-label" })
            @Html.DropDownListFor(model => model.SupplierId, new SelectList(ViewBag.Suppliers, "SupplierId", "CompanyName"), "Select Supplier", new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.MSRP, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.MSRP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MSRP, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "form-label  mb-3" })<br />
            <img src="~/App_Images/no-image.png" height="120" width="110" class="changeEdit mb-3" />
            <input type="file" id="imageChange1" name="ImageFile" class="form-control imageChange" required />
        </div>
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
}




